body {
  font-size: larger;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

/* login page  - <div>'s still need to be added to login.jsx*/

.center {
  display: flex;
  position: absolute;
  left: 30%;
  top: 40%;
  width: 50%;
  height: 18%;
  justify-content: space-between;
  align-items: baseline;
}

.center-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  height: 100%;
}

.center-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.eloquize {
  font-size: 50px;
  line-height: 67px;
}

.logo {
  position: relative;
  left: 0px;
  top: 0px;

  width: 310px;
  height: 205px

}

.logo-left {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

.title {
  position: relative;
  top: 0px;
}

.description{
  position: relative;
  bottom: 0px;
}

/* record page */


.logo {
  position: absolute;
  width: 172px;
  height: 40px;
  left: 53px;
  top: 40px;

  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

